@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;

    --primary: 162 63% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 162 20% 96%;
    --secondary-foreground: 0 0% 13%;

    --muted: 210 14% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 162 100% 35%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 14% 89%;
    --input: 210 14% 93%;
    --ring: 162 63% 41%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 13%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 162 63% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 162 63% 41%;
  }

  .dark {
    --background: 162 73% 15%;
    --foreground: 0 0% 95%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 95%;

    --primary: 162 63% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 65%;

    --accent: 162 100% 35%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 162 63% 41%;
    --sidebar-background: 0 0% 11%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 162 63% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 18%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 0 0% 18%;
    --sidebar-ring: 162 63% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
